*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
gradle.properties
*google-services.json

# Android Studio captures folder
captures/

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
/.idea/caches/build_file_checksums.ser
/.idea/modules.xml


# User-specific configurations
.idea/libraries/
.idea/fileTemplates/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
*.iml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
pantau_bersama.keystore
app/production/
app/release/