<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pantaubersama.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="aia-compat-api-min-version"
            android:value="1" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.penpol.tanyakandidat.create.CreateTanyaKandidatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.linimasa.filter.FilterPilpresActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.penpol.tanyakandidat.tanyakandidatinfo.TanyaKandidatInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.penpol.tanyakandidat.filter.FilterTanyaKandidatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.penpol.kuis.kuisinfo.KuisInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>