<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pantaubersama.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">
        <meta-data
            android:name="aia-compat-api-min-version"
            android:value="1" />

        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.penpol.tanyakandidat.create.CreateTanyaKandidatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.linimasa.pilpres.filter.FilterPilpresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bannerinfo.BannerInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.penpol.tanyakandidat.filter.FilterTanyaKandidatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.penpol.kuis.ikutikuis.IkutiKuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.penpol.kuis.result.KuisResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.penpol.kuis.kuisstart.KuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.penpol.kuis.result.KuisAnswerKeyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.linimasa.janjipolitik.create.CreateJanjiPolitikActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.verifikasi.step1.Step1VerifikasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.verifikasi.step2.Step2VerifikasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.linimasa.janjipolitik.detail.DetailJanjiPolitikActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.penpol.kuis.filter.FilterKuisActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.linimasa.janjipolitik.filter.FilterJanjiPolitikActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.verifikasi.step3.Step3VerifikasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.verifikasi.Step4VerifikasiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.profile.verifikasi.Step5VerifikasiActivity" />
        <activity android:name=".ui.profile.verifikasi.Step6VerifikasiActivity" />
        <activity android:name=".ui.profile.verifikasi.Step7VerifikasiActivity" />
        <activity android:name=".ui.profile.verifikasi.FinalScreenVerifikasiActivity" />
        <activity android:name=".ui.profile.setting.SettingActivity" />
        <activity android:name=".ui.profile.setting.editprofile.EditProfileActivity" />
        <activity android:name=".ui.profile.setting.ubahsandi.UbahSandiActivity" />
        <activity android:name=".ui.profile.setting.ubahdatalapor.UbahDataLaporActivity" />
        <activity android:name=".ui.profile.setting.badge.BadgeActivity" />
        <activity android:name=".ui.profile.setting.clusterundang.ClusterUndangActivity" />
        <activity android:name=".ui.profile.setting.panduankomunitas.PanduanKomunitasActivity" />
        <activity android:name=".ui.profile.setting.tentangapp.TentangAppActivity" />
        <activity android:name=".ui.profile.cluster.RequestClusterActivity" />
        <activity android:name=".ui.profile.cluster.ClusterCategoryActivity" />
        <activity android:name=".ui.profile.connect.ConnectActivity" />
        <activity android:name=".ui.note.CatatanPilihanActivity"></activity>
    </application>

</manifest>